.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

header {
  max-width: 371px;
  width: 100%;
  height: 139px;
  margin-top: 57px;
  margin-left: 144px;
  margin-bottom: 57px;
}

p {
  color: #5863e3;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 7px;
}

h1 {
  color: #000;
  font-family: Helvetica;
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.formsection {
  display: flex;
  margin-left: 144px;
  margin-bottom: 51px;
}

::placeholder {
  color: #99999a;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.leftside {
  max-width: 756px;
  width: 100%;
  height: 298px;
  margin-right: 20px;
}

.rightside {
  display: flex;
  flex-flow: wrap;
  max-width: 370px;
  width: 100%;
}

textarea {
  resize: none;
  max-width: 756px;
  width: 100%;
  height: 298px;
  border: 2px solid rgba(212, 211, 211, 0.3);
  background: #f8f8f8;
  padding: 22px;
}

input[type="text"] {
  border: 2px solid rgba(212, 211, 211, 0.3);
  background: #f8f8f8;
  max-width: 370px;
  width: 100%;
  padding: 19px;
  margin-bottom: 20px;
}

input[type="email"] {
  border: 2px solid rgba(212, 211, 211, 0.3);
  background: #f8f8f8;
  max-width: 370px;
  width: 100%;
  padding: 19px;
  margin-bottom: 25px;
}

input[type="submit"] {
  color: #fbfbff;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: #5968f4;
  max-width: 370px;
  width: 100%;
  padding: 21px 167px;
}

.contactsSection {
  max-width: 997px;
  width: 100%;
  height: 157px;
  margin-bottom: 74px;
  margin-left: 210px;
  display: flex;
  justify-content: space-between;
}

.contactsSection .contactdiv {
  max-width: 226px;
  width: 100%;
  height: 157px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emailpic {
  background-color: #5968f4;
  width: 67px;
  height: 67px;
  flex-shrink: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
    scale: 2.5;
}

h5{
    color: #4E4D54;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 8px;
}

.contactp{
    color: #99999A;
    font-family: Helvetica;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contactdiv :nth-child(3){
    margin-bottom: 8px;
}

.title{
    max-width: 548px;
    width: 100%;
    margin-left: 144px;
}