.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

header {
  max-width: 371px;
  width: 100%;
  /* height: 139px; */
  margin-top: 57px;
  margin-left: 144px;
  margin-bottom: 57px;
}

p {
  color: #5863e3;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 7px;
}

h1 {
  color: #000;
  font-family: Helvetica;
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.formsection {
  display: flex;
  margin-left: 144px;
  margin-bottom: 51px;
}

::placeholder {
  color: #99999a;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.leftside {
  max-width: 756px;
  width: 100%;
  /* height: 298px; */
  margin-right: 20px;
}

.rightside {
  display: flex;
  flex-flow: wrap;
  max-width: 370px;
  width: 100%;
}

textarea {
  resize: none;
  max-width: 756px;
  width: 100%;
  height: 298px;
  border: 2px solid rgba(212, 211, 211, 0.3);
  background: #f8f8f8;
  padding: 22px;
}

input[type="text"] {
  border: 2px solid rgba(212, 211, 211, 0.3);
  background: #f8f8f8;
  /* max-width: 370px; */
  width: 100%;
  padding: 19px;
  margin-bottom: 20px;
}

input[type="email"] {
  border: 2px solid rgba(212, 211, 211, 0.3);
  background: #f8f8f8;
  /* max-width: 370px; */
  width: 100%;
  padding: 19px;
  margin-bottom: 25px;
}

input[type="submit"] {
  color: #fbfbff;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: #5968f4;
  /* max-width: 370px; */
  width: 100%;
  padding: 21px 167px;
}

.contactsSection {
  max-width: 1000px;
  width: 100%;
  /* height: 157px; */
  margin-bottom: 74px;
  margin-left: 210px;
  display: flex;
  justify-content: space-between;
}

.contactsSection .contactdiv {
  max-width: 226px;
  width: 100%;
  /* height: 157px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emailpic {
  background-color: #5968f4;
  width: 67px;
  height: 67px;
  flex-shrink: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  scale: 2.5;
}

h5 {
  color: #4e4d54;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 16px;
  margin-bottom: 8px;
}

.contactp {
  color: #99999a;
  font-family: Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title {
  max-width: 548px;
  width: 100%;
  margin-bottom: 53px;
  margin-left: 144px;
}

.picturesSection {
  max-width: 1318px;
  width: 100%;
  /* height: 373px; */
  margin-right: 61px;
  margin-bottom: 39px;
  margin-left: 61px;
  display: flex;
  justify-content: space-between;
}

img {
  width: 373px;
  height: 373px;
  flex-shrink: 0;
}

footer {
  background-color: #000;
  width: 100%;
  /* padding: 63px 176px 111px 143px; */
  padding-top: 63px;

  /* padding-right: 390px; */
  padding-right: 10%;

  padding-bottom: 111px;

  /* padding-left: 340px; */
  padding-left: 10%;

  display: flex;
  justify-content: space-between;
}

.footerDiv_1 {
  width: 295px;
}

h2 {
  color: #fff;
  font-family: Helvetica;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 23px;
}

.footerP {
  color: #99999a;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 23px;
}

.socialmediaPic {
  display: inline-block;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  margin-right: 7px;
}

.footerDiv_2 {
  width: 108px;
  height: 160px;
  display: flex;
  flex-direction: column;
}

h3 {
  color: #fff;
  font-family: Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
}

a {
  color: #5863e3;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 9px;
}

.footerDiv_3 {
  width: 92px;
  height: 160px;
  display: flex;
  flex-direction: column;
}

.footerDiv_4 {
  width: 241px;
}

.footerDiv_4 > div {
  display: flex;
  margin-bottom: 18px;
}

footer i {
  scale: 1;
  width: 21px;
  height: 15px;
  flex-shrink: 0;
  margin-right: 14px;
}

h4 {
  color: #fff;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
